.banner{
	width: 100%;
	text-align: center;
	position: relative;
}
.banner img{
	width: 100%;
}
.banner h3,
.banner p{
	position: absolute;
	z-index: 11;
	width: 100%;
	color: #fff;
}
.body{
	background-color: #fff;
}